{% load static %}
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <title>Học Giỏi Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="MasterKit - Professional A unique and beautiful collection of UI elements">

    <!-- CSS 
    ================================================== -->
    <link rel="stylesheet" href="{% static './assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static './assets/css/night-mode.css' %}">
    <link rel="stylesheet" href="{% static './assets/css/framework.css' %}">

    <!-- icons
    ================================================== -->
    <link rel="stylesheet" href="{% static './assets/css/icons.css' %}">
    <link rel="stylesheet" href="{% static './assets/style.html'%}">

</head>